

.work-header {
	border: #000000 1px solid;
}

.work-header h2 {
	color: #000000;
	font-size: 2rem;
	font-weight: bolder;
    line-height: 1.25;
}

#work .work-timeline {
	max-width: 980px;
}
#work .timeline-wrap {
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 6rem;
}
#work .timeline-wrap::before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 35%;
	top: 0;
}
#work .timeline-block {
	position: relative;
	padding-top: 1.5rem;
}
#work .timeline-ico {
	height: 3.8rem;
	width: 3.8rem;
	line-height: 3.8rem;
	background: #313131;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 36%;
	top: .9rem;
	margin-left: -2.4rem;
}
#work .timeline-ico i {
	position: relative;
	left: .05rem;
	top: .2rem;
}

#work .timeline-header {
	float: left;
	width: 35%;
	padding-right: 90px;
	text-align: right;
}

.timeline-header h3 {
	margin-bottom: 0;
	
}
.timeline-header p {
	font-family: "poppins-regular", sans-serif;
	font-size: 1.4rem;
	color: #888888;
}
#work .timeline-content {
	margin-left: 35%;
	padding-left: 60px;
}
#work .timeline-content h4 {
	position: relative;
	padding-bottom: 1.8rem;
}
#work .timeline-content h4::after {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 0;
	bottom: 0;
}

/**
 * responsive:
 * resume
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	#work .timeline-header {
		padding-right: 50px;
	}
	#work .timeline-header h3 {
		font-size: 1.8rem;
	}
	#work .timeline-header p {
		font-size: 1.4rem;
	}
	#work .timeline-content {
		padding-left: 50px;
	}
}
@media only screen and (max-width:768px) {
	#work .timeline-wrap::before {
		left: 2.4rem;
	}
	#work .timeline-ico {
		left: 2.4rem;
	}
	#work .timeline-header {
		float: none;
		width: auto;
		padding-right: 15px;
		text-align: left;
	}
	#work .timeline-header h3 {
		font-size: 1.4rem;
	}
	#work .timeline-header p {
		font-size: 1.2rem;
		margin-bottom: 1.5rem;
	}
	#work .timeline-content {
		margin: 0;
	}
	#work .timeline-content h4 {
		padding-bottom: 0;
		padding-top: 2.1rem;
		margin-bottom: .6rem;
		font-size: 1.7rem;
	}
	#resume .timeline-content h4::after {
		bottom: auto;
		top: 0;
	}
	#resume .timeline-header, #resume .timeline-content {
		padding-left: 7rem;
	}
}
@media only screen and (max-width:480px) {
	#work .resume-header h2 {
		font-size: 2.2rem;
	}
	#work .timeline-wrap::before {
		left: 1.8rem;
	}
	#work .timeline-ico {
		height: 3.6rem;
		width: 3.6rem;
		line-height: 3.6rem;
		left: 1.8rem;
		margin-left: -1.8rem;
		font-size: 1.5rem;
	}
	#work .timeline-header, #resume .timeline-content {
		padding-left: 5.5rem;
	}
}

